* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    font-family: "Figtree", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.profile {
    background-color: hsl(0, 0%, 12%);
    width: 22.5rem;
    max-width: 100%;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
}

.profile h2 {
    color: hsl(0, 0%, 100%);
    margin-bottom: .8rem;
    font-weight: 400;
    
}

.profile .color-yell {
    color: hsl(75, 94%, 57%);
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.profile .color-wht {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    margin-bottom: 1.8rem;
}

.profile img {
    width: 110px;
    border-radius: 9999px;
    margin: 0 0 1.8rem 0;
}

.profile ul {
    list-style: none;
}

.profile li {
    background-color: hsl(0, 0%, 20%);
    margin: 1rem 0 0 0;
    border-radius: .6rem;
}

.profile li a {
    display: block;
    color: hsl(0, 0%, 100%);
    padding: 15px;
    text-decoration: none;
    transition: 0.2s ease;
}

.profile li a:hover {
    background-color: hsl(75, 94%, 57%);
    border-radius: .6rem;
    color: hsl(0, 0%, 8%);
    font-weight: 500;
}


.profile .active {
    background-color: hsl(75, 94%, 57%);
}

.profile .active a {
    color: hsl(0, 0%, 8%)
}

