* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
}

.container {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 100%);
  width: 330px;
  height: auto;
  border-radius: 15px;
  padding: 15px;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

figcaption h2 {
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

figcaption p {
    color: hsl(216, 15%, 48%);
    text-align: center;
    padding: 14px 18px;
    font-weight: 500;
    line-height: 20px    ;
}

/* Desktop*/
@media (min-width: 1440px) {
    /*Mobile*/
  .container {
    width: 350px;
  }
}